<div class="jumbotron" text-align='center'>
<h1>Bamazon!</h1>
<a href='/shop'> <button class='btn btn-warning'> Shop </button> </a>
<a href='/sell'> <button class='btn btn-primary'> Sell </button> </a>

<link ref='style/css' href='../assets/css/indexstyle.css'>

<style>
.jumbotron{
  background-color: white;
  text-align: center;
}
