<div class="jumbotron" text-align='center'>
<h1>Bamazon!</h1>
<a href='/shop'> <button class='btn btn-warning'> Shop </button> </a>
<a href='/sell'> <button class='btn btn-primary'> Sell </button> </a>
<p> Hello and welcome to Bamazon. Not everything works here just yet, but there are a few cool things to do.
  Navigate to the 'managers' tab and click on 'sign in', or create a new user. At the next page, you can add products to the database.
  Return to the /shop page to see the newly added products.

  Navigate to /users to see all users in JSON, or to /products to see all products in JSON. These are RESTful APIs.
  Currently, the APIs only support read and write capabilities.
  <strong> This site is still under construction. Check back in for new additions! </strong>
</p>
<!-- <link ref='style/css' href='../assets/css/indexstyle.css'> -->
<style>
.jumbotron{
  background-color: white;
  text-align: center;
}
