	<ul class="nav nav-tabs">
		<a class="navbar-brand" href="/"> Bamazon </a>
	<li class="nav-item">
		<a class="nav-link active" href="/">Shop</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/managersignin">Manager</a>
	</li>
</ul>

<table class="table table-striped">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Price</th>
        <th>Stock</th>
				<th> Department </th>
      </tr>
    </thead>
			{{#each product}}
			<tbody>

      <tr>
        <td>{{product_name}}</td>
        <td>{{price}}</td>
        <td>{{stock_quantity}}</td>
				<td>{{department}}</td>

      </tr>
			</tbody>

			{{/each}}
  </table>
</div>
